h1{
  text-align: center;
  color: white;
  font-size: 4em;
  font-family: 'Lato';
  margin: auto;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: 'Lato';
  margin: auto;
  margin-top: 10px;
}


header{
  height: 50vh;
  background-color: #5D5D81;
  margin: 0;
  margin-bottom: 50px;
  border-bottom: 6px solid #6e6e99;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body{
  background-color: #BFCDE0;
}

button{
  border-radius: 4px;
  background-color: #5D5D81;
  border: 3px;
  padding: 10px;
  margin: 0 8px;
  color: white;
  font-family: 'Lato';
  font-weight: 600;
}

@media (max-width: 425px) {
  h1{
    font-size: 3.5em;
  }
  h2{
    font-size: 1.5em;
  }
}
@media (min-width: 426px) and (max-width: 780px) {
  h1{
    font-size: 6em;
  }

}