h1{
  text-align: center;
  color: white;
  line-height: 50vh;
  font-size: 4em;
  font-family: 'Lato';
  margin: 0;
}
header{
  height: 50vh;
  background-color: #5D5D81;
  margin: 0;
  margin-bottom: 50px;
  border-bottom: 6px solid #6e6e99
}

body{
  background-color: #BFCDE0;
}

button{
  border-radius: 4px;
  background-color: #5D5D81;
  border: 3px;
  padding: 6px;
  margin: 0 8px;
  color: white;
  font-family: 'Lato';
  font-weight: 600;
}