.create-graph{
  margin: 0 auto;
  width: 40vw;
}

form{
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.create-graph-button{
  margin-top: 13px;
}

.create-graph{
  background-color: #FEFCFD;
  padding: 45px;
  border-radius: 6px;
  margin-bottom: 20vh;
}

h3{
  color: white;
  font-size: 3em;
  font-family: 'Lato';
  text-align: center;
  margin-top: 0;
}

label{
  text-align: center;
  font-family: 'Lato';
  font-weight: 600;
  color: #3B3355;
}

/* phones */
@media (max-width: 425px) {
  .create-graph{
    width: 70vw;
  }

  h3{
    font-size: 1em;
  }
}

/* iPad */
@media (min-width: 426px) and (max-width: 780px) {
  .create-graph{
    width: 80vw;
  }
  input{
    margin: 8px;
  }
}